server:
  port: 8084

spring:
  application:
    name: auth-service

  springdoc:
    api-docs:
      path: /api-docs
    swagger-ui:
      path: /swagger-ui
      operations-sorter: method
      tags-sorter: alpha
      display-request-duration: true

feign:
  client:
    config:
      default:
        connectTimeout: 3000
        readTimeout: 5000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka